<form
    class="post-form"
    #createPostForm="ngForm"
    (ngSubmit)="onSubmit(createPostForm)"
>
    <div class="flex-container">
        <div class="profile-picture">
            <img
                [routerLink]="['profile', authService.loggedUser?._id]"
                [src]="authService.loggedUser?.profilePicture"
                alt="profile picture"
            />
        </div>
        <textarea
            name="message"
            placeholder="What's on your mind?"
            #messageInput="ngModel"
            ngModel
            required
        ></textarea>
    </div>
    <div class="flex-container mt-2">
        <input
            type="url"
            placeholder="https://"
            name="image"
            #imageInput="ngModel"
            ngModel
            required
            pattern="https?:\/\/.*"
        />
        <div class="text-right">
            <button
                [disabled]="createPostForm.invalid || postService.isLoading"
            >
                Post
            </button>
        </div>
    </div>
</form>
