ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    transform: translate(-10px);

    & li {
        padding: .4em .8em .8em .8em;
        cursor: pointer;
        vertical-align: middle;
    }

    & li:hover {
        border-radius: 15px;
        background-color: var(--gray);
    }

    // & li:last-child {
    //     margin-top: auto;
    // }

    & svg {
        margin-right: 1em;
        transform: translate(0, 5px);
    }
}
