header {
    display: flex;
    gap: 4em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--gray);
    margin-bottom: 4em;
    margin-left: 6em;

    & .profile-picture {
        width: 152px;
        height: 152px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 0.8em;
        vertical-align: middle;
    }

    & .profile-user-settings {
        display: flex;
        gap: 2rem;
        align-items: center;

        & .profile-user-name {
            font-size: 1.6em;
            margin: 0;
        }

        & .profile-edit-btn {
            background: none;
            border: 1px solid #000;
            color: inherit;
            padding: 0.5em 1em;
            border-radius: 1em;
            cursor: pointer;
        }

        & .profile-edit-btn:focus {
            outline: 0.5rem auto #4d90fe;
        }

        & .profile-edit-btn:hover {
            opacity: 0.6;
        }
    }

    & .profile-stats ul {
        display: flex;
        gap: 1em;
        padding: 0;
        list-style-type: none;
        font-size: 1.1em;
        margin-top: 1.5em;
    }
}

main {
    margin-left: 6em;

    .gallery {
        display: flex;
        flex-direction: column;
        gap: 2em;
        h1 {
            text-align: center;
        }
    }
}