<!-- <header>
    <div class="profile-picture">
        <img src="{{ user.profilePicture }}" />
    </div>

    <div class="profile-info">
        <div class="profile-user-settings">
            <h1 class="profile-user-name">{{user.name + ' ' + user.surname}}</h1>

            <button *ngIf="isOwner" class="profile-edit-btn">Edit Profile</button>
        </div>

        <div class="profile-stats">
            <ul>
                <li><span class="profile-stat-count">{{user.posts.length}}</span> {{user.posts.length === 1 ? 'post' :
                    'posts'}}</li>
                <li><span class="profile-stat-count">{{user.followers.length}}</span> {{user.followers.length === 1 ?
                    'follower' : 'followers'}}</li>
                <li><span class="profile-stat-count">{{user.following.length}}</span> following</li>
            </ul>
        </div>

        <div class="profile-bio">
            <p>{{user.description}}</p>
        </div>
    </div>
</header>

<main>
    <app-loader *ngIf="isLoading" />

    <div class="gallery">
        <div class="gallery-item" tabindex="0" *ngFor="let post of posts">
            <app-post-item [post]="post" />
        </div>
    </div>
</main> -->