<app-loader *ngIf="isLoading" />

<ng-container *ngIf="user$ | async as user">
    <header>
        <div class="profile-picture">
            <img [src]="(user$ | async)?.profilePicture" />
            <!-- Use async pipe -->
        </div>

        <div class="profile-info">
            <div class="profile-user-settings">
                <h1 class="profile-user-name">
                    {{ (user$ | async)?.name + " " + (user$ | async)?.surname }}
                </h1>
                <a [routerLink]="['profile', authService.loggedUser?._id, 'edit']"
                    *ngIf="(user$ | async)?._id === authService.loggedUser?._id" class="profile-edit-btn">
                    Edit Profile
                </a>
            </div>

            <div class="profile-stats">
                <ul>
                    <li>
                        <span class="profile-stat-count">{{
                            (posts$ | async)?.length
                            }}</span>
                        {{ (posts$ | async)?.length === 1 ? "post" : "posts" }}
                    </li>
                    <li>
                        <span class="profile-stat-count">{{
                            (user$ | async)?.followers?.length
                            }}</span>
                        {{
                        (user$ | async)?.followers?.length === 1
                        ? "follower"
                        : "followers"
                        }}
                    </li>
                    <li>
                        <span class="profile-stat-count">{{
                            (user$ | async)?.following?.length
                            }}</span>
                        following
                    </li>
                </ul>
            </div>

            <div class="profile-bio">
                <p>{{ (user$ | async)?.description }}</p>
            </div>
        </div>
    </header>
</ng-container>
<main>
    <div class="gallery">
        <h1 *ngIf="(posts$ | async)?.length === 0">No posts</h1>
        <div class="gallery-item" tabindex="0" *ngFor="let post of posts$ | async">
            <app-post-item [post]="post" />
        </div>
    </div>
</main>