section {
    max-width: 493.4px;
    padding: 0 0 0.8em 0;
    border-bottom: 2px solid var(--gray);

    & header {
        display: flex;
        align-self: center;
        margin-top: 5em;

        & a {
            margin-left: auto;
        }

        & a:hover {
            opacity: 0.6;
        }
    }

    & .image {
        overflow: hidden;
        border-radius: 4px;
        margin-top: 1em;
    }

    & footer {
        & .buttons {
            display: flex;
            gap: 1em;

            & span:hover {
                opacity: 0.6;
            }

            & span:last-child {
                margin-left: auto;
            }
        }

        & .likes {
            font-size: 0.8em;
            font-weight: bold;
        }

        & .comment {
            margin-top: 1em;

            & input {
                all: unset;
                font-size: 0.8em;
                width: 100%;
            }
        }
    }

    & p {
        line-height: 1.2;
        font-size: 0.9em;
        margin: 0;
    }

    & .credentials,
    & .profile-picture {
        display: inline-block;
    }

    & .profile-picture {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 0.8em;
        vertical-align: middle;
        cursor: pointer;
    }

    & .credentials {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .owner .name {
            cursor: pointer;
        }

        & .owner span:last-child {
            color: var(--gray-text);
        }

        & .owner span:last-child::before {
            content: "";
            width: 4px;
            height: 4px;
            margin: 0 0.3em 0 0.2em;
            vertical-align: middle;
            border-radius: 50%;
            background: var(--gray-text);
            display: inline-block;
        }
    }
}
