section {
    width: 493.4px;
    margin-left: 6em;
    border: 2px solid var(--gray);
    border-radius: 1em;
        padding: 1em;

    header {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;

        .profile-image {
            width: 152px;
            height: 152px;
            overflow: hidden;
            border-radius: 50%;
        }
    }

    .profile-form {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        input[type="text"],
        input[type="url"],
        textarea {
            width: 100%;
            margin: 0.5em 0;
            padding: 8px;
            border: 1px solid #efefef;
            border-radius: 3px;
            background-color: #fafafa;
            outline: none;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 1em;
            padding: 8px;
            background-color: #4bb4f8;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;
        }

        input[type="submit"]:disabled {
            background-color: gray;
        }

        p.error {
            color: red;
            font-size: 0.8em;
            margin-top: 4px;
            text-align: left;
            padding-left: 10px;
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }
    }
}
