/****** VARIABLES ******/
:root {
    /* COLORS */
    --background-color: #fff;
    --text-color: #000;
    --gray-text: rgba(150, 150, 150, .9);
    --gray: rgba(240, 240, 240, .8);

    /* FONT */
    --font: 'Open Sans', sans-serif;
}

/****** RESET ******/
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--background-color);
    color: var(--text-color);
}

/****** TYPOGRAPHY ******/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 700;
    margin-top: 0;
}

img {
    width: 100%;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: var(--text-color);
}

/****** APP STYLES ******/
app-root {
    display: flex;
    gap: 2em;
}

app-login,
app-register {
    width: 100vw;
}
